/* Geral */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    display: grid;
    justify-content: center;
    gap: 2.75rem;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.25rem;
}

ul{
    list-style: none;
}

/* Cabeçalho */

.menu img{
    display: block;
    margin: 0 auto;
    margin-top: 4.125rem;
    margin-bottom: 4.125rem;
}

.navegacao{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacao li a{
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    color: #000;
}

.navegacao li a:hover{
    border: 0.125rem solid #ee2211;
}

/* Conteudo 01 */

.container01{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 62.5rem;
}

.bicicleta{
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    object-position: right top;
}

#label-infos{
    background-color: #fff;
    display: grid;
    align-items: center;
    justify-items: end;
    padding: 1.25rem;
    gap: 1.25rem;
}

#label-infos h1{
    font-size: 2.19rem;
    position: relative;
}

#label-infos h1::after{
    content: "";
    width: 4rem;
    height: 0.25rem;
    top: -1rem;
    right: -3.25rem;
    background-color: #ee2211;
    position: absolute;
}

#label-infos a{
    background-color: #ee2211;
    padding: 0.9rem 1.5rem;
    border-radius: 0.25rem;
    color: #fff;
}

#label-infos a:hover{
    background-color: #900;
}

/* Conteudo 02 */

.subtitulo{
    font-size: 4rem;
    color: #c6c6c6;
    background-image: url("/assets/img/onda.svg");
}

.texto{
    display: grid;
    align-self: center;
    padding: 50px;

}

.container02{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 62.5rem;
}

.container02 ul{
    background-color: #fff;
    padding: 0.625rem;
}

.container02 ul li{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 1.25rem;
}

.container02 img{
    margin-right: 1.25rem;
}

.container02 p{
    grid-column: 2;
}

.container02 ul li:nth-child(odd){
    background-color: #f7f7f7;
}

.container02 ul li:hover{
    border-left: 0.25rem solid #ee2211;
}

/* Rodapé */

footer{
    background-color: #e4e4e4;
    text-align: center;
    padding: 0.625rem;
}

/* Responsivo */

@media (max-width: 800px){
    .subtitulo{
        display: none;
    }
    .vantagens{
        grid-column: 1 / -1;
    }
    .bicicleta{
        grid-column: 1 / -1;
    }
    #label-infos{
        grid-column: 1 / -1;
        justify-items: center;
    }
    #label-infos h1::after{
        display: none;
    }
    .menu img{
        margin: 0 auto;
        padding-top: 40px;
    }
    .menu-op li a{
        background-color: #fff;
        padding: 10px 15px;
    }
    .navegacao{
        margin-top: 50px;
        gap: 15px;
    }
}