*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    display: grid;
    justify-content: center;
    gap: 3.125rem;
}

header{
    margin: 0 auto;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.25rem;
}

ol{
    list-style: none;
}

/* Cabeçalho */

.logotipo{
    margin: 0 auto;
    margin-top: 3.75rem;
}

.navegacao{
    display: flex;
}

.navegacao li{
    list-style: none;
}

.navegacao a{
    background-color: #fff;
    color: #000;
    padding: 1.0rem 2.5rem;
    margin-left: 1.25rem;
    text-align: center;
    border-radius: 0.25rem;
    text-transform: uppercase;
}

.navegacao a:hover{
    border: 0.06rem solid red;
}

/* Cabeçalho */

/* Conteúdo */

.bicicleta{
    max-width: 100%;
}

.container01{
    max-width: 62.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container01 article{
    background-color: #fff;
    padding: 2.5rem;
    display: grid;
    align-items: center;
    justify-items: end;
}

.titulo{
    position: relative;
}

.titulo::after{
    content: "";
    width: 3.75rem;
    height: 0.25rem;
    background-color: red;
    position: absolute;
    top: -2.8rem;
    right: -4.37rem;
}

.paragrafo{
    text-align: center;
}

.botao{
    background-color: #ee2211;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    display: block;
    padding: 1.0rem 1.9rem;
}

.botao:hover{
    background-color: #900;
}

/* Conteúdo */

/* Conteúdo 2 */

.subtitulo{
    font-size: 4rem;
    color: #c6c6c6;
    padding: 1.9rem;
    background-image: url("/assets/img/onda.svg");
}

.container-titulo{
    background-repeat: no-repeat;
    display: grid;
    align-self: center;
}

.container-vantagens{
    background-color: #fff;
}

.container-vantagens ol li:nth-child(odd){
    background-color: #f7f7f7;
}

.container-vantagens ol{
    padding: 0.625rem;
}

.vantagens{
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 1.9rem;
    gap: 10px;
}

.paragrafo-vantagens{
    grid-column: 2;
}

.icone{
    padding-right: 1.0rem;
}

.container-vantagens ol li:hover{
    border-left: 0.25rem solid red;
}

/* Conteúdo 2 */

/* Rodapé */

footer{
    background-color: #eeee;
    text-align: center;
    padding: 20px;
}

/* Rodapé */